<form 
[hidden]="submitted" 
[formGroup]="signUpForm" 
novalidate
 (ngSubmit)="signUp(signUpForm.value,signUpForm.isValid)" 
 role="form">
  <legend>Sign Up</legend>
  <div class="form-group">
    <label for="username">username</label>
    <input id="username" formControlName="username" type="text" class="form-control" placeholder="username">
  </div>
  <div [hidden]="signUpForm.controls.username.valid || !signUpForm.controls.username.touched  " class="form-group">
    <div class="alert alert-danger ">
      <strong>error!</strong> username
    </div>
  </div>
  <div class="form-group">
    <label for="password">password</label>
    <input id="password" formControlName="password" type="password" class="form-control" placeholder="password">
  </div>
  <div [hidden]="signUpForm.controls.password.valid || !signUpForm.controls.password.touched  " class="form-group">
    <div class="alert alert-danger">
      <strong>error!</strong> password
    </div>
  </div>
  <div formGroupName="contacts">
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input id="email" formControlName="email" type="email" class="form-control" placeholder="example@domain.com">
    </div>
    <div [hidden]="signUpForm.controls.contacts.controls.email.valid || !signUpForm.controls.contacts.controls.email.touched  "
      class="form-group">
      <div class="alert alert-danger">
        <strong>error!</strong> E-Mail
      </div>
    </div>
    <div class="form-group">
      <label for="email">phone</label>
      <input id="phone" formControlName="phone" type="text" class="form-control" placeholder="01126604567">
    </div>
    <div [hidden]="signUpForm.controls.contacts.controls.phone.valid || !signUpForm.controls.contacts.controls.phone.touched"
      class="form-group">
      <div class="alert alert-danger">
        <strong>error!</strong> enter valid phne no.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <input id="country" formControlName="country" type="text" class="form-control">
  </div>
  <div [hidden]="signUpForm.controls.country.valid || !signUpForm.controls.country.touched" class="form-group">
    <div class="alert alert-danger ">
      <strong>error!</strong> Country
    </div>
  </div>
  <div class="form-group">
    <label for="birthdate">Birth Date</label>
    <input id="birthdate" formControlName="birthdate" type="date" class="form-control">
  </div>
  <div [hidden]="signUpForm.controls.birthdate.valid || !signUpForm.controls.birthdate.touched" class="form-group">
    <div class="alert alert-danger ">
      <strong>error!</strong> birthdate
    </div>
  </div>
  <button [disabled]="!signUpForm.valid"  class="btn btn-primary" type="submit">Sign Up</button>
</form>
<div [hidden]="!submitted">
  <h3>your submitted data:</h3>
  <div class="row">
    <div>
     <label >UserName</label>
      {{signUpForm.controls.username.value}}
    </div>
    <div>
     <label >Password</label>
      {{signUpForm.controls.password.value}}
    </div>
  </div>
</div>